.bk-list {
	list-style: none;
	position: relative;
}

.bk-list li {
	position: relative;
	width: auto;
	z-index: 1;
	margin-top: 10%;
}

.bk-list li:last-child {
	margin-right: 0;
}

.bk-info {
	position: relative;
	margin-top: 440px;
}

.bk-info h3 {
	padding: 25px 0 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 26px;
}

.bk-info h3 span:first-child {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 5px;
	display: block;
	color: #777;
}

.bk-info p {
	line-height: 24px;
	color: #444;
	min-height: 160px;
}

.bk-list li .bk-book {
	position: relative;
	width: 25%;
	height: 500px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 3s;
	transition: transform 3s;
}

.bk-list li .bk-book>div,
.bk-list li .bk-front>div {
	display: block;
	position: absolute;
}

.bk-list li .bk-front {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
	-webkit-transform: translate3d(0, 0, 20px);
	transform: translate3d(0, 0, 20px);
	z-index: 10;
}

.bk-list li .bk-front>div {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li .bk-page {
	-webkit-transform: translate3d(0, 0, 19px);
	transform: translate3d(0, 0, 19px);
	display: none;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front>div {
	width: 100%;
	height: 100%;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
	width: 40px;
	left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
	width: 295px;
	height: 40px;
	top: -15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.bk-list li .bk-back {
	-webkit-transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
	transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
	border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
	background-color: #000;
	-webkit-transform: rotate3d(0, 1, 0, -179deg);
	transform: rotate3d(0, 1, 0, -179deg);
}

.bk-list li .bk-left {
	height: 400px;
	-webkit-transform: rotate3d(0, 1, 0, -90deg);
	transform: rotate3d(0, 1, 0, -90deg);
}

.bk-list li .bk-top {
	-webkit-transform: rotate3d(1, 0, 0, 90deg);
	transform: rotate3d(1, 0, 0, 90deg);
}

.bk-list li .bk-bottom {
	-webkit-transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
	transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, 390px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
	-webkit-transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
	transform: translate3d(0, 0, 20px) rotate3d(0, 1, 0, -160deg);
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
	transform: translate3d(0, 0, 150px) rotate3d(0, 1, 0, 0deg);
}

.bk-list li .bk-book.bk-viewback {
	-webkit-transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
	transform: translate3d(0, 0, 0px) rotate3d(0, 1, 0, 180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
	background-color: white;
}

.bk-list li .bk-front>div {
	border-radius: 0 3px 3px 0;
	box-shadow:
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: -1px;
	width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 3px;
	background: rgba(0, 0, 0, 0.06);
	box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
	left: auto;
	right: 10px;
}

.bk-content {
	position: absolute;
	top: 30px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding: 30px;
	overflow: hidden;
	background: #fff;
	opacity: 0;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
	cursor: default;
}

.bk-content-current {
	opacity: 1;
	pointer-events: auto;
}

.bk-content p {
	padding: 0 0 10px;
	-webkit-font-smoothing: antialiased;
	color: #000;
	font-size: 13px;
	line-height: 20px;
	text-align: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front>div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
	background-color: #130f40;
}

.book-1 .bk-cover {
	background-size: 100%;
	background-image: url(../images/cover.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}

.book-1 .bk-back {
	background-size: 100%;
	background-image: url(../images/backcover.gif);
	background-repeat: no-repeat;
	background-position: 10px 0px;
}

.book-1 .bk-cover h2 {
	cursor: default;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.book-1 .bk-back h2 {
	cursor: default;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 30px;
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-back h2 span:first-child {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
}

.book-1 .bk-cover h2 span:first-child {
	display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
}

.book-1 .bk-content p {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left h2 {
	color: #fff;
	font-size: 15px;
	line-height: 40px;
	padding-right: 10px;
	text-align: right;
}

.divider {
	margin: 10;
	border-top: 3px solid #130f40;
	border-radius: 5px;
}



/* Form CSS */

.inputs {
	margin-top: 5%;
}
.inputs input {
	font-weight: bolder;
	text-align: center;
	background: #ecf0f3;
	height: 50px;
	font-size: 20px;
	border-radius: 50px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.buttons {
	margin-top: 25%;
}

a,
.submit {
	text-align: center;
	color: rgb(0, 0, 0);
	background: #0b9af3;
	margin-top: 5%;
	height: 40px;
	border-radius: 20px;
	cursor: pointer;
	font-weight: 900;
	box-shadow: 6px 6px 6px #037efa, -6px -6px 6px rgb(255, 255, 255);
	transition: 0.5s;
}

button:hover,
a:hover,
.submit:hover {
	box-shadow: none;
}

a,
input,
.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: none;
	outline: none;
	box-sizing: border-box;
}